@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p>現在時間：<span id="nowTime"></span></p>

<div class="text-center">
    <h1 class="display-4">歡迎來到我的<br> ASP.NET Core 網站！</h1>
<p>這是我的第一個 ASP.NET Core 練習專案。</p>
<form id="myForm">
        <label for="name">你的名字：</label>
        <input type="text" id="name" class="form-control" style="width: 300px; display: inline-block;" placeholder="請輸入你的名字" />
    <button type="submit">送出</button>
</form>




</div>

<script src="@Url.Content("~/js/index.js")"></script>